# Virtual environment
img/
venv/
.env

# Python cache
__pycache__/
*.pyc

# Django specific
db.sqlite3

*.pem
*.key

# Node 
node_modules/
build/

# Lambda deployment zip
lambda/lambda_function.zip
lambda/package

.vscode/